<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <tranzzo>
                <active>1</active>
                <dedug>0</dedug>
                <title>TRANZZO</title>
                <is_gateway>1</is_gateway>
                <order_status>pending_payment</order_status>
                <currency>USD,EUR,UAH,RUB</currency>
                <model>TranzzoPayment\Tranzzo\Model\Tranzzo</model>
            </tranzzo>
        </payment>
    </default>
</config>